body
{
    background-color: #313131;
    font-family: 'Maven Pro', sans-serif;
    margin: 0px;
}

.con
{
    width: 100%;
}

.logo
{
    text-align: center;
    margin-top: 25px;
}

#logo:hover {
    background-color: #0e34b0;
}

.win
{
    color: white;
    font-size: 50px;
    text-align: center;
}

.pas
{
    background-color: #22b4f2;
    width: 100%;
    height: 70px;
    margin-top: 40px;
    position: sticky;
}

.option
{
    color: white;
    float: left;
    padding: 15px;
    border-right: 2px dashed #3387ab;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 7px;
}

.option:hover
{
    background-color: #0e34b0;
}
#windows1
{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.owin1
{
    color: white;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 270px;
    margin-right: 270px;
    text-align: justify;
    text-decoration: none;
}

.link
{
    color: white;
    text-decoration: none;
}

#windows3
{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

#zegar
{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

#pasek
{
    background-color: #22b4f2;
    width: 100%;
    height: 18px;
    opacity: 70%;
    margin-top: 20px;
}

#window3
{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

#owindow3
{
    color: white;
    text-align: justify;
    font-size: 17px;
    margin-top: 20px;
}

#pasek2
{
    background-color: #22b4f2;
    width: 100%;
    height: 18px;
    opacity: 70%;
    margin-top: 20px;
}

#win95
{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}